body{
}

#container{
  width:360px;
  margin:100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  background-color: #F7F7F7;

}

h1{
  margin:0;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  font-family:helvetica, sans-serif;
  font-weight: 300;
  font-size:24px;
  text-transform: uppercase;

}

ul{
  margin:0;
  padding:0;

}

li{
  list-style: none;
  padding-left:30px;
}

.completed{
  color:rgb(128, 128, 128);
  text-decoration: line-through;
}
